body {
  animation-name: kuva-animaatio;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
  width: 100%;
  height: 100%;
  background-size: cover;
}
@keyframes kuva-animaatio {
  to {
    background-image: url("images/background-flowers.jpeg");
  }
  from {
    background-image: url("images/background-flowers-2.jpeg");
  }
}
#nelio {
  width: 100px;
  height: 100px;
  background-color: blue;
  animation-name: nelio-animaatio;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes nelio-animaatio {
  0% {
    background-color: blue;
  }
  33% {
    background-color: aqua;
    width: 120px;
    height: 120px;
  }
  67% {
    background-color: azure;
    width: 150px;
    height: 150px;
  }
  100% {
    background-color: blue;
    width: 100px;
    height: 100px;
  }
}
#ympyra {
  margin-top: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
}
#ympyra:hover {
  animation-name: ympyra-animaatio;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}
@keyframes ympyra-animaatio {
  0% {
    border: 1px solid hotpink;
  }
  50% {
    border: 5px solid hotpink;
  }
  100% {
    border: 10px solid hotpink;
  }
}

#nelio-tehtava {
  height: 150px;
  width: 150px;
  background-color: orangered;
  animation-name: nelio-tehtava-animaatio;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  text-align: center;
  font-size: 2rem;

  padding: 1rem;
}
@keyframes nelio-tehtava-animaatio {
  0% {
    margin: 0;
    color: aliceblue;
  }
  25% {
    margin: 0 0 0 15rem;
    background-color: rgb(248, 126, 82);
    color: rgb(74, 78, 81);
  }
  50% {
    margin: 10rem 0 0 15rem;
    background-color: rgb(128, 68, 47);
    opacity: 50%;
    color: rgb(147, 204, 251);
  }
  75% {
    margin: 10rem 0 0 0;
    background-color: rgb(113, 35, 6);
    color: rgb(85, 176, 255);
  }
  100% {
    margin: 0;
  }
}
